################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiCine/FileContentIndex/8bf74102-8584-49dd-8bfa-385b94261997.vsidx
